.vs/share-image-unity/xs/UserPrefs.xml
.vs/share-image-unity/xs/sqlite3/db.lock
.vs/share-image-unity/xs/sqlite3/storage.ide
.vs/share-image-unity/xs/sqlite3/storage.ide-shm
.vs/share-image-unity/xs/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
share-image-unity.sln
